label {
  font-size: 16px;
  font-weight: bold;
  width: 30%;
  display: inline-block;
  padding-right: 15px;
}

.calculatorInputs {
  padding-left: 15px;
}

.calculatorInput {
  width: 400px;
  padding-bottom: 15px;
}

.calculatorInputItem {
  display: inline-block;
  width: 70%;
}
