@import './variables.scss';
// a place for layout specific css

/* top | right | bottom | left */
$cell-padding: 5px 0px 15px 0px;

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1em;
}

.side-columns {
  grid-row: 1 / 4;
}

.main-column {
  grid-row: 2 / 4;
}
.grid-item {
  padding: $cell-padding;
}

.grid-full-row {
  grid-column: 1 / span 3;
  grid-row: 3;
  padding: $cell-padding;
}

.grid-full-colum {
  grid-column: 3;
  grid-row: 1 / span 3;
  padding: $cell-padding;
}

body {
  width: 100%;
  height: 100%;
  background-color: $color-background-1;
  // border: 10px solid $color-background-2;
}
