$color-white: rgb(255, 255, 255);

//#2fb380;
$color-primary: #2fb380;
$color-primary-light: #58ffba;
$color-primary-dark: #299961;
$color-primary-darker: rgb(27, 100, 66);

$color-secondary: #ff5c1b;
$color-secondary-light: #ff5c1b;
$color-secondary-dark: #581901;

$color-black: black;
$color-white: #eee;

$color-gray-1: #dad6d6;
$color-gray-2: #acacac;
$color-gray-3: #313131;

$color-font: $color-primary-darker;
$color-font-header: $color-primary-dark;
$color-alert: $color-primary;
$color-background-1: $color-gray-1;
$color-background-2: $color-gray-2;
