$color-white: rgb(255, 255, 255);

$color-primary: #3a6f59;
$color-primary-light: #16d181;
$color-primary-dark: #004829;

$color-secondary: #ff5c1b;
$color-secondary-light: #ff5c1b;
$color-secondary-dark: #581901;

$color-black: black;
$color-gray-1: #eee;
$color-gray-2: rgb(97, 97, 97);
$color-gray-3: rgb(39, 39, 39);

$color-font: $color-gray-3;
$color-font-header: $color-primary-dark;
$color-alert: $color-primary;
$color-background-1: rgba($color-primary-light, 0.8);
$color-background-2: rgba($color-primary-light, 0.4);

// $color-primary: #5b5b5b;
// $color-secondary: #00e696;
// $color-alert: #606060ff;

// $color-primary: #a2a2a1ff;
// $color-secondary: #adefd1ff;
// $color-alert: #00203fff;
