.strongText {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.largeText {
  font-size: 20px;
}

.mediumText {
  font-size: 16px;
}

.paddingLeft {
  padding-left: 15px;
}

.marginBottom {
  margin-bottom: 15px;
}

.textAlignRight {
  text-align: right;
}
